<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<set name="userland/events">
    <answer name="temp-change" id="11000"/>
    <answer name="light-change" id="11001">
        <param name="channel" type="UINT8"/>
    </answer>
    <answer name="protocol-change" id="11003">
        <param name="channel" type="UINT8"/>
    </answer>
    <answer name="error-register" id="11004">
        <param name="errreg" type="UINT32"/>
    </answer>
    <answer name="od-calibration-change" id="11006">
        <param name="channel" type="UINT8"/>
    </answer>
</set>
