Flask
Flask-Bootstrap
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
flask-apscheduler
Flask-WTF
alembic
click
SQLAlchemy
visitor
WTForms
JPype1
Flask-RESTful
pyserial
mettler_toledo_device
requests
gunicorn
werkzeug
pycrypto
sphinx
sphinx_rtd_theme
myst-parser